/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal de la invitación */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.invitation {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

/* Títulos y textos */
.title {
    font-family: 'Pacifico', cursive;
    color: #3498db;
    margin: 10px 0;
}

.subtitle {
    font-family: 'Merriweather', serif;
    color: #3498db;
    margin: 10px 0;
}

.guest-info {
    font-family: 'Georgia', serif;
    margin: 10px 0;
}

